<form action="" method="POST" role="form" >

        <fieldset>
        <legend style="text-align: center">My Orders</legend>
         
        <div class="form-group">
                <li>
                    Order no.
                </li>    
        </div>
    
        <div>
            <img src="search.png" alt="Kurti image" style="width: 50px;height: 50%">
        </div><br>
        <div>
            Product description:
        </div><br>
    
        <div>
            <a href=""><ul><li>Price</li></ul></a>
            <a href=""><ul><li>Status</li></ul></a>
        </div>
        
        <div style="text-align: right">
            <a routerLink="/viewdetails">View Details</a>
        </div>
        
        </fieldset>  
    </form>
    