<div style="text-align: center;">
        <h2><b>About Us</b></h2>

        <textarea readonly name="" id="" cols="30" rows="10">
                     FashZone India empowers small and medium-sized businesses to reach millions of customers with a number of programmesthat help boost their revenue, reach and productivity. 
                     By telling stories from a wide range of perspectives,we tell the larger story of who FashZone is and how FashZone'score business practices contribute to a better India. 
        </textarea>

</div>