<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: black;
      padding: 25px;
    }
  </style>
</head>
<body >

<div class="jumbotron" style="background-color:blanchedalmond">
  <div class="container text-center">
    
  <h1> <b>FashZone</b></h1>
    
    <p>We care of your choice</p>
  </div>
</div>

<nav class="navbar navbar-inverse" style="height: 69px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
  
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/home">Home</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/logout">LogOut</a></li>
      </ul>
 
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/profile"><span class="glyphicon glyphicon-user"></span>Account</a></li>
        <li><a routerLink="/cart"><span class="glyphicon glyphicon-shopping-cart"></span>Cart</a></li> 
      </ul>
    </div>
  </div>
</nav>
<hr>





<router-outlet></router-outlet>


<footer class="container-fluid text-center" class="footer">

<a routerLink="/aboutus"><b>About Us</b></a>
&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;

<a routerLink="/registervendor"><b>Join Us with your products</b></a>
&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
<a routerLink="/contactus"><b>Contact Us</b></a>

&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
<a routerLink="/terms"><b>Terms & Policies</b></a>


</footer>

</body>
</html>
