<form action="" method="POST" role="form">
    <legend style="text-align: center">Manage Address:</legend>

    <div class="form-group">
        

<button type="button" class="btn btn-large btn-block btn-success" routerLink="/add-new-address">Add New Address</button>
        
    </div>
    <div>
        Previous Addresses:<br><br>
        &nbsp; &nbsp; &nbsp;Home: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <a routerLink="/edit-address">Edit</a>&nbsp; &nbsp; &nbsp;<a routerLink="/deleteaddress">Delete</a><br><br><br>

        &nbsp; &nbsp; &nbsp;Work:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
        <a routerLink="/edit-address">Edit</a>&nbsp; &nbsp; &nbsp;<a routerLink="/deleteaddress">Delete</a><br><br>
    </div>
 
</form>