
<form action="" method="POST" role="form">
        <legend style="text-align: center">Add New Address</legend>
    
        <div class="form-group">
            <label for="address">Address</label>
            <br>
            <textarea name="address" style="width: 250px;" id="address"></textarea>
        
        </div>
        <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" name="city" placeholder="Enter City">
        </div>
        <div class="form-group">
                <label for="pincode">Pincode</label>
                <input type="number" class="form-control" id="pincode" name="pincode" placeholder="Enter Pincode">
        </div>
        <div class="form-group">
                <label for="state">State</label>
                <input type="text" class="form-control" id="state" name="state" placeholder="Enter State">
        </div>

      <br>
    
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;

      <button type="button" class="btn btn-sm btn-primary">Add</button>
      &nbsp;
      &nbsp;

      <button type="button" class="btn btn-sm btn-danger">Cancel</button>
      

    </form>
    