<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">    
        <div class="row">
          <div class="col-sm-4">
            <div class="panel panel-primary">
              <div class="panel-heading">RED ONE PIECE</div>
              <div class="panel-body"><img routerLink="/productdescription/1" src="assets/images/imageOne.jpeg" class="img-responsive" style="width:100%" alt="Image"></div>
              <div class="panel-footer">Rs 500</div>
            </div>
          </div>
          <div class="col-sm-4"> 
            <div class="panel panel-danger">
              <div class="panel-heading">BLACK GREY LEHENGA</div>
              <div class="panel-body"><img routerLink="/productdescription/2" src="assets/images/imagesFour.jpeg" class="img-responsive" style="width:100%" alt="Image"></div>
              <div class="panel-footer">Rs 1000</div>
            </div>
          </div>
          <div class="col-sm-4"> 
            <div class="panel panel-success">
              <div class="panel-heading">ROYAL KURTI</div>
              <div class="panel-body"><img routerLink="/productdescription/3" src="assets/images/imagesTwo.jpeg" class="img-responsive" style="width:100%" alt="Image"></div>
              <div class="panel-footer">Rs 800</div>
            </div>
          </div>
        </div>
      </div><br>
      
      <div class="container">    
        <div class="row">
          <div class="col-sm-4">
            <div class="panel panel-primary">
              <div class="panel-heading">PINK PLAZO</div>
              <div class="panel-body"><img routerLink="/productdescription/4" src="assets/images/imagesFive.jpeg" class="img-responsive" style="width:100%" alt="Image"></div>
              <div class="panel-footer">Rs 1200</div>
            </div>
          </div>
          <div class="col-sm-4"> 
            <div class="panel panel-primary">
              <div class="panel-heading">BLACK ONE PIECE</div>
              <div class="panel-body"><img routerLink="/productdescription/5" src="assets/images/imagesThree.jpeg" class="img-responsive" style="width:100%" alt="Image"></div>
              <div class="panel-footer">Rs 1500</div>
            </div>
          </div>
          <div class="col-sm-4"> 
            <div class="panel panel-primary">
              <div class="panel-heading">ROYAL SAREE</div>
              <div class="panel-body"><img routerLink="/productdescription/6" src="assets/images/imagesSeven.jpeg" class="img-responsive" style="width:100%" alt="Image"></div>
              <div class="panel-footer">Rs 5000</div>
            </div>
          </div>
        </div>
      </div><br><br>

<!-- <table>
      
        <tr><td>hey</td></tr>
          <tr *ngFor="let product of products">
              <td><img src="data:image/gif;base64,{{product.Image[0].image}}" alt=""></td>
          </tr>
      
    </table> -->
      
</body>
</html>